--extra-index-url https://download.pytorch.org/whl/cpu
# Core DL Framework
torch
torchvision

# Models & Augmentations
timm
albumentations==0.5.2
opencv-python-headless
ultralytics

# Web App
flask
gunicorn

# Data & Utils
numpy
pandas
einops
PyYAML
python-magic
tqdm
torch-optimizer
scikit-learn
tensorboard
facenet-pytorch


